body{
  width:100%;
  padding: 0px;
  margin: 0px;
box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent,purple);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent,green);
  border-radius: 6px;
}

.navbar {
  width: 100%;
  position: sticky;
  top:0;
  display:flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  z-index: 1;
  border-bottom: 2px solid white;
}

.navbar ul li a {
  color: black;
  transition:color 0.3s;

}

.navbar li a:hover{
  background-color: white;
  color:  #419ab5;
}
 .d-block{
height: 700px;
width:100%;
}
#btn{
  border: none;
  border-color: black;
}
.carousel-caption{
  color: green;
  margin: 90px;
  text-align: center;
  align-items: center;
  font-size: 40px;
}
.carousel-caption h1{
  color:purple;
  font-weight: 600;

}
.pg {
  background-color: #419ab5;
}

.form-group{
  width: 280px;
  position: absolute;
  top: 30%;
  left:40%;
  transform: translate(-50% -50%);
  color: white;
}
.main h2{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: sans-serif;
	font-size: 28px;
	color: green;
  margin: 30px;
  font-weight: bold;
}
.about p{
	font-style: normal;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
  margin: 20px;
  margin-top: 20px;
}

.container{
	width: 100%;
	margin-top: 40px;
	font-family:sans-serif, sans-serif;
	letter-spacing: 1px;
}

.stat {
align-items: center;
text-align: center;
background-color: green;
height: 300px;
padding-left: 320px;
padding-top: 60px;
padding-bottom:0px;
color: white;
background-attachment: fixed;
margin-top: 100px;
}
.stat p{
  font-size: 30px;
}
.stat i{
  font-size: 40px;
  color: white;
}


h4 {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
h4::after {
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.col-md-3 {
	float: left;
	width: 25%;
	padding: 10px;
	height: 300px;
}
.col-md-3 h5{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 20px;
}
.col-md-3 p{
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: small;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.container h4{
	text-transform: uppercase;
	text-align: center;
	font-style: normal;
	font-family: Times New Roman;
	font-size: 35px;
}
.font-weight-light{
  font-size: 30px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.card-img-top{
  height: 200px;
  width: 200px;
}
.btn-outline-secondary{
  height: 50px;
}
.btn-outline-success{
  height: 50px;
}
.font-weight-light::after{
  /* This is the underline */
	display: block;
	content: "";
	height: 2px;
	width: 125px;
	background: green;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.footer ul {
	list-style: none;
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding: 0 50px 0 50px;
}
.tm-col-footer ul {
	list-style: none;
}

.tm-site-footer{
  list-style: none;
  background-color: green;
  height: 150px;
  margin-top: 20px;
  text-decoration: none;
color:white;
text-transform: uppercase;
}
.social ul li a{
  color: white;
}
.social{
    background-color: #419ab5;
    height: 40px;
}
.form-inline{
  color: black;
}
